{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}


	<div class="main-container">
		<div class="container card shadow bg-white ">
			<br>
			<h2>Artists</h2>
			<br>
			<table class="table table-striped ">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Twitter</th>
						<th>Albums</th>
					</tr>
				</thead>
				{% for artist in artists %}
					<tr>
						<td>{{ artist.id }}</td>
						<td>{{ artist.name }}</td>
						<td>{{ artist.twitter }}</td>
						<td>
							<a href="{{ path('album_index', { 'artistId': artist.id }) }}">
								<button type="button" class="btn btn-primary btn-sm">View All</button>
							</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Unable to load Artists.</td>
					</tr>
				{% endfor %}
			</table>

		</div>
	</div>


{% endblock %}
